@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #1DB954;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: black;
    margin: 0;
}

nav a {
    color: #1DB954;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.subtitle-small {
    font-size: 13px;
    color: #b3b3b3;
}

h2 {
    font-size: 26px;
    margin-bottom: 4px;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-size: 15px;
    color: #b3b3b3;
    margin-bottom: 20px;
}

.flex-text-container {
    display: flex;
}

.flex-text-container {

}

.flex-text-container > .bigTitle,
.flex-text-container > .subtitle {
    justify-content: left;
}

.flex-container > .dropdown {
    justify-content: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.trackCard {
    background-color: transparent;
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.trackCard>img {
    width: 100%;
}

.trackCard > .title {
    margin-top: 10px;
}

.trackCard > .subtitle {
    margin-top: 5px;
}
.artistCard {
    background-color: transparent;
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.artistCard>img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.artistCard > .title {
    margin-top: 10px;
}

.artistCard > .subtitle {
    margin-top: 5px;
}

.circle-img {
    border-radius: 50%;
}

.cursor-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


.rounded-button {
    width: 60px;
    height: 60px;
    background: black;
    color: #1DB954;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: 0.2s;
}

.rounded-button:hover {
    background: #292929;
}

/* for selecting the first card and placing it more on the right */
.flex-container>div:first-child {
    margin-left: 5%;
}

/* for selecting the last card and placing it more on the left */
.flex-container>div:last-child {
    margin-right: 5%
}


/* ----------------------------- Bootstrap css fixes ----------------------------- */

/* DISPLAY FILES */

/* CAROUSEL */
.carousel-control-next {
    right: 0;
    margin-bottom: 5%;
    padding-left: 10%;
}

.carousel-control-prev {
    left: 0;
    margin-bottom: 5%;
    padding-right: 10%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 262px;
}

/* DROPDOWN */
.dropdown, .dropup {
    justify-content: right;
}
/* TRACK RECENTLY PLAYED */

.grid-container {
    display: grid;
    row-gap: 10px;
}

.track-grid {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-areas:
        "image name"
        "image from";
}

.grid-item-image {
    grid-area: image;
    width: fit-content;
    height: fit-content;
}

.grid-item-name {
    grid-area: name;
}

.grid-item-from {
    grid-area: from;
}

.grid-item-image>img {
    width: 50px;
    height: 50px;
}

/* INDEX FILE */
nav {
    margin-right: 10%;
    margin-left: 10%;
}

.bg-dark {
    background-color: #121212 !important;
}