{% extends 'index.html' %}

{% block content %}
<div class="flex-components-container">
    <div class="flex-text-container">
        <div class="bigTitle">
            <h2>Top tracks</h2>
        </div>
        <div class='subtitle'>Your top tracks from the past 4 weeks</div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Time Field
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('get_tops', top_tracks_time_range='short_term', top_artists_time_range='short_term')}}">4 weeks</a>
            <a class="dropdown-item" href="{{ url_for('get_tops', top_tracks_time_range='medium_term', top_artists_time_range='medium_term')}}">6 months</a>
            <a class="dropdown-item" href="{{ url_for('get_tops', top_tracks_time_range='long_term', top_artists_time_range='long_term')}}">1 year</a>
        </div>
    </div>
</div>


<div id="carouselTopTracks" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        {% for i in range(topTracks|length) %}
        {% if i == 0 %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
                {% endif %}
                <div class="flex-container">
                    {% for track in topTracks[i] %}
                    <div class="trackCard">
                        <img src="{{track['album']['images'][0]['url']}}" alt="{{ track['name']}}">
                        <div class="title">{{track['place']}}. {{ track['name']}}</div>
                        <div class="subtitle-small">{{ track['artists'][0]['name'] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <a class="carousel-control-prev" href="#carouselTopTracks" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselTopTracks" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <h2>Top Artists</h2>
    <div class='subtitle'>Your top artist from the past 4 weeks</div>
    <div id="carouselTopArtists" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {% for i in range(topArtists|length) %}
            {% if i == 0 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <div class="flex-container">
                        {% for artist in topArtists[i] %}
                        <div class="artistCard">
                            {% if artist['images']|length > 0 %}
                            <img src="{{artist['images'][0]['url']}}" alt="{{ artist['name']}}">
                            {% else %}
                            <img src="" alt="{{ artist['name']}}">
                            {% endif %}
                            <div class="title">{{artist['place']}}. {{ artist['name']}}</div>
                            <div class="subtitle-small">{{ artist['genres']|join(', ') }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <a class="carousel-control-prev" href="#carouselTopArtists" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselTopArtists" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <h2>Recent streams</h2>
        <div class='subtitle'>Your most recently played tracks</div>
        <div class="grid-container">
            {% for trackPlayed in recently_played_tracks %}
            <div class="track-grid">
                <div class="grid-item-image">
                    <img src="{{trackPlayed['track']['album']['images'][0]['url']}}"
                        alt="{{ trackPlayed['track']['name']}}">
                </div>
                <div class="grid-item-name">
                    <div class="title">{{ trackPlayed['track']['name']}}</div>
                </div>
                <div class="grid-item-from">
                    {# loop to get a list of all the artist's name that made the current song 'trackPlayed' #}
                    {% set fromArtistsName = [] %}
                    {% for artist in trackPlayed['track']['artists'] %}
                    <p hidden>{{ fromArtistsName.append(artist['name']) }}</p>
                    {% endfor %}
                    <div class="subtitle">{{ fromArtistsName|join(", ")}} &#x25CF {{
                        trackPlayed['track']['album']['name'] }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}