{% extends 'index.html' %}

{% block content %}

<h2>Your Spotify Profile</h2>

{% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        ⚠️ {{ error }}
    </div>
{% else %}
    <div class="card text-center mx-auto mt-5 shadow" style="max-width: 400px; background-color: #181818; color: white;">
        <div class="card-body">
        {% if posts['images']|length > 0 %}
            <img src="{{ posts['images'][0]['url'] }}" class="rounded-circle mb-3" width="120" height="120" style="object-fit: cover;">
        {% else %}
            <img src="{{ url_for('static', filename='assets/imgUser.jpg') }}" class="rounded-circle mb-3" width="120" height="120" style="object-fit: cover; ">
        {% endif %}
    
        <h3 class="card-title">{{ posts['display_name'] }}</h3>
    
        <div class="d-flex justify-content-center my-3">
            <span class="badge badge-success mx-2">🌍 {{ posts['country'] }}</span>
            <span class="badge badge-primary mx-2">👥 {{ posts['followers']['total'] }} followers</span>
        </div>
    
        <a href="{{ url_for('logout') }}" class="btn btn-outline-danger mt-3">Se déconnecter</a>
        </div>
    </div>
{% endif %}
{% endblock %}
